<div class="container">
	<h3>Booking an appointment for quote: <%= @quote_number %></h3>

	<%= form_for Appointment.new, :html => {:class => 'form-horizontal'}, :url => {:controller => 'home', :action => 'confirm_appointment'} do |f| -%>

	<div class="control-group">
	    <label class="control-label" for="inputEmail">Address</label>
	    <div class="controls">
      		<%= f.text_field :location %>
    	</div>
  	</div>
	

	<%= f.hidden_field :quote_id, :value => @findquote.id %>

	<div class="control-group">
		<label class="control-label" for="">Select a Time</label>
		<div class="controls">


			<% (0..5).each do |i| %>	
				<div class="row">
					<div class="span12">
						<strong><%= Date.today + i %></strong>
						<div class="btn-group">
						
							<% (@times).each do |j, k| %>
								<% @time = Appointment.find_by_day_and_time(Date.today + i, j) %>
								<% if (@time == nil)  %>
									<%= f.submit k.to_s, :class => 'btn btn-medium btn-info', :name => (Date.today+i).to_s + '__' + j.to_s  %>
								<% else %>
									<button class="btn btn-medium btn-danger" onclick="javascript: return false;"><%= k.to_s %></button>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>

		</div>
	</div>	

<% end -%>
</div><!-- container -->







