<div class="container">
	<div class="row">
	<h3>Quote Code </h3>
	<%= form_for Quote.new, :url => {:controller => 'home', :action => 'bookappt'} do |f| -%>
	<%= f.text_field :quote_number %>
	

	</div>	
	<div class="row">
		<div class="span12" ><h4><%= Date.today + 1 %></h4>
				<div class="btn-group">
				 <%= f.submit '8am to 9am', :class => "btn btn-large btn-info" %>	
 				 <button class="btn btn-large btn-danger">9am to 10am</button>
 				 <button class="btn btn-large btn-info">10am to 11am</button>
 				 <button class="btn btn-large btn-info">6pm to 7pm</button>
 				 <button class="btn btn-large btn-danger">7pm to 8pm</button>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="span12" ><h4><%= Date.today + 2 %></h4>
				<div class="btn-group">
				 <button class="btn btn-large btn-info">8am to 9am</button>
 				 <button class="btn btn-large btn-info">9am to 10am</button>
 				 <button class="btn btn-large btn-info">10am to 11am</button>
 				 <button class="btn btn-large btn-info">6pm to 7pm</button>
 				 <button class="btn btn-large btn-danger">7pm to 8pm</button>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="span12" ><h4><%= Date.today + 3 %></h4>
				<div class="btn-group">
				 <button class="btn btn-large btn-info">8am to 9am</button>
 				 <button class="btn btn-large btn-info">9am to 10am</button>
 				 <button class="btn btn-large btn-info">10am to 11am</button>
 				 <button class="btn btn-large btn-info">6pm to 7pm</button>
 				 <button class="btn btn-large btn-info">7pm to 8pm</button>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="span12" ><h4><%= Date.today + 4 %></h4>
				<div class="btn-group">
				 <button class="btn btn-large btn-info">8am to 9am</button>
 				 <button class="btn btn-large btn-danger">9am to 10am</button>
 				 <button class="btn btn-large btn-info">10am to 11am</button>
 				 <button class="btn btn-large btn-info">6pm to 7pm</button>
 				 <button class="btn btn-large btn-info">7pm to 8pm</button>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="span12" ><h4><%= Date.today + 5 %></h4>
				<div class="btn-group">
				 <button class="btn btn-large btn-danger">8am to 9am</button>
 				 <button class="btn btn-large btn-danger">9am to 10am</button>
 				 <button class="btn btn-large btn-danger">10am to 11am</button>
 				 <button class="btn btn-large btn-danger">6pm to 7pm</button>
 				 <button class="btn btn-large btn-danger">7pm to 8pm</button>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="span12" ><h4><%= Date.today + 6 %></h4>
				<div class="btn-group">
				 <button class="btn btn-large btn-info">8am to 9am</button>
 				 <button class="btn btn-large btn-info">9am to 10am</button>
 				 <button class="btn btn-large btn-info">10am to 11am</button>
 				 <button class="btn btn-large btn-info">6pm to 7pm</button>
 				 <button class="btn btn-large btn-info">7pm to 8pm</button>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="span12" ><h4><%= Date.today + 7 %></h4>
				<div class="btn-group">
				 <button class="btn btn-large btn-info">8am to 9am</button>
 				 <button class="btn btn-large btn-danger">9am to 10am</button>
 				 <button class="btn btn-large btn-info">10am to 11am</button>
 				 <button class="btn btn-large btn-info">6pm to 7pm</button>
 				 <button class="btn btn-large btn-danger">7pm to 8pm</button>
				</div>
		</div>
	</div>

<% end -%>
</div><!-- container -->







