
<h2>Request a Quote</h2>

<%= form_for @quote, :url => {:controller => 'quote', :action => 'create_save'} do |f| -%>
<div class="row-fluid">
  <div class="span4">
    <h3>Contact Information</h3>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Your Name</label>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Phone Number</label>
      <div class="controls">
        <%= f.text_field :cell %>
      </div>
    </div>

  </div> <!-- /span6 -->

  <div class="span8">
    <h3>Drywall details</h3>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Height</label>
      <div class="controls">
        <%= f.text_field :h_feet, :placeholder => 'feet', :class => 'input-mini'  %>
        <%= f.text_field :h_inches, :placeholder => 'inches', :class => 'input-mini' %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Width</label>
      <div class="controls">
        <%= f.text_field :w_feet, :placeholder => 'feet', :class => 'input-mini' %>
        <%= f.text_field :w_inches, :placeholder => 'inches', :class => 'input-mini' %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Length</label>
      <div class="controls">
        <%= f.text_field :l_feet, :placeholder => 'feet', :class => 'input-mini' %>
        <%= f.text_field :l_inches, :placeholder => 'inches', :class => 'input-mini' %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Length</label>
      <div class="controls">

        <%= f.label :ceiling, 'asdasd' do %>
        <%= f.check_box :ceiling, :class => 'input-mini' %> This room has a drywall ceiling
        <% end %>

        <%= f.label :insulated, 'asdasd' do %>
        <%= f.check_box :insulated, :class => 'input-mini' %> Room is insulated.
        <% end %>

      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail">What length sheet do you want to use to calculate your totals?</label>
      <div class="controls">
        <%= f.select(:panel, options_for_select([['8 feet long sheet', '8'], ['10 feet long sheet', '10'], ['12 feet long sheet', '12']], :selected => '8')) %>
      </div>
    </div>
  </div> <!-- span6 -->
</div>





  	<%= f.submit 'Request Quote', :class => 'btn btn-primary'  %>
<% end %>

