
<h2>Request a Quote</h2>

<%= form_for @quote, :url => {:controller => 'quote', :action => 'create_save'} do |f| -%>
	<div class="control-group">
	    <label class="control-label" for="inputEmail">Email</label>
	    <div class="controls">
      		<%= f.text_field :email %>
    	</div>
  	</div>
	<div class="control-group">
	    <label class="control-label" for="inputEmail">Your Name</label>
	    <div class="controls">
      		<%= f.text_field :name %>
    	</div>
  	</div>
	<div class="control-group">
	    <label class="control-label" for="inputEmail">Phone Number</label>
	    <div class="controls">
      		<%= f.text_field :cell %>
    	</div>
  	</div>

  	<h3>Drywall details</h3>

  	<div class="control-group">
	    <label class="control-label" for="inputEmail">Coverage Area</label>
	    <div class="controls">
      		<%= f.text_field :cell %>
    	</div>
  	</div>

  	<div class="control-group">
	    <label class="control-label" for="inputEmail">Panel Size</label>
	    <div class="controls">
      		<%= f.select(:cell, options_for_select([['4x5', '4x5'], ['teasd', '2x5'], ['teasd', '5x6']], :selected => '2x5')) %>
    	</div>
  	</div>


  	<%= f.submit 'Request Quote', :class => 'btn btn-primary'  %>
<% end %>

